{% extends 'base.html.twig' %}

{% block title %}
    {{ title | upper }} {# Título de la página en mayúsculas #}
{% endblock %}

{% block stylesheets %}
    {# Vincular hoja de estilos #}
    <link rel="stylesheet" href="/styles/app.css">
{% endblock %}

{% block body %}
 
    <h1>{{ title }}</h1> {# Encabezado principal #}

    <img src="{{ image }}"> {# Imagen de la página principal #}

    {# Enlace para ver la cartelera #}
    <a href="{{ ('presenta') }}" class="button">Ver Cartelera</a> 
{% endblock %}


 {# Vincular código JavaScript

        {% block javascripts %}
            <script src="/assets/controllers/images_controller.js" type="text/javascript"></script>
        {% endblock %} #}